# Random tests

## Comparing types

In [1]:
type(5)

int

In [3]:
type('hello')

str

In [4]:
type('hello') == str

True

In [5]:
type('hello') is str

True

## Dataframe attributes

In [6]:
import pandas as pd

In [7]:
data_dict = {"A":[1,2,3]}
df = pd.DataFrame(data = data_dict)

In [8]:
df

   A
0  1
1  2
2  3

In [9]:
df.attrs['thing'] = 'stuff'

In [10]:
df.attrs

{'thing': 'stuff'}